{% extends 'blog/base.html' %} {% block content %} {% for blog in blogs %}
<!-- <div class='blog-window container'>
    <div class='article-box'>
        <div class= 'articles'>
            <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
            <h5>{{ blog.date|date:'M d Y' }}</h5>
            <img src="{{blog.image.url}}"/>
            <p>{{ blog.description|striptags|truncatechars:300 }}</p>
        </div>
    </div>
</div>
     -->

<div class="blog-window container" id="blog">
  <div class="articles">
    <div class="article-box">
      <a href="{% url 'blog:detail' blog.id %}">
        <h2 class="article-topic">{{ blog.title }}</h2></a
      >
      <p class="article-context">
        {{ blog.description|striptags|truncatechars:300 }}
      </p>
    </div>
    <div class="article-img">
      <img src="{{blog.image.url}}" alt="article-img" />
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
