<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <h1>Blog Site</h1>
    <!-- read the instructions before you start -->

    <!-- instructions
    pick whichever section you want to work on and make sure you always commit, so that we know the changes -->

    <!-- navbar -->
       
    <!-- header-section this is going to have out topic and a little explanation of the top -->

    <!-- this is where, we will have the main section of the page like, the blog that will be created by individuals -->

    <!-- footer-section of the section of the page -->
    
  </body>
</html>
