* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7 !important;
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}
a {
  color: black !important;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}
.link-hover {
  transition: all 0.5s ease-in-out;
}
.link-hover:hover {
  background-color: #6e6d6c;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

header {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 2px 2px 10px 2.5px rgb(20, 20, 20);
  border-radius: 5px;
}

.blog-window {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.articles {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 10px 2.5px rgb(20, 20, 20);
  border-radius: 5px;
  height: 100%;
  
}
.details-article{
  padding: 2.5rem;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 10px 2.5px rgb(20, 20, 20);
  border-radius: 5px;
  height: 100%;
  
}
.details-article img {
  width: 30rem;
  height: 30rem;

}


.article-img{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.articles img {
  width: 20rem;
  height: 20rem;
  
}


/* css for the topic options */
.topic {
  position: fixed;
  top: calc((50vh - 50%) * -1);
  transform: translate(0, calc(50vh - 50%));
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: fixed;
  width: 10rem;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ece9e9 !important;
  cursor: pointer;

}

.topic-options {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.topic-options a{
  padding: .2rem;
  transition: all .2s ease-in-out;
}
.topic-options a:hover{
  background-color: rgb(70, 68, 68);
  transition: all .2s ease-in-out;
}
.close {
  position: absolute;
  right: 5px;
  top: 10px;
  transition: all 0.5s ease-in-out;
}

.topic-box {
  opacity: 0;
  background-color: rgb(214, 213, 213);
  transition: all 0.5s ease-in-out;
  padding: 1rem 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 5px 5px rgb(56, 55, 55);
}
.topics-show {
  transition: all 0.5s ease-in-out;
  
}


.rotate {
  transform: rotate(-90deg);
  margin-left: -22px;
  display: flex;
  align-self: flex-start;
  background-color: rgb(43, 42, 42);
  color: #ece9e9;
  border-radius: 0 0 5px 5px;
  padding: 0 .5rem;
  font-size: larger;

}

.show {
  
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.dont-show {
  
  opacity: 0;
  transition: all 0.5s ease-in-out;
}



/* about section */

.display{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

/* footer */

footer {
  margin-top: 5rem;
  text-align: center;
}
