* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7 !important;
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}
a {
  color: black !important;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}
.link-hover {
  transition: all 0.5s ease-in-out;
}
.link-hover:hover {
  background-color: #6e6d6c;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

header {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 2px 2px 5px 2.5px;
  border-radius: 5px;
}

.blog-window {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.article-box {
  height: 20rem;
  /* box-shadow: 3px 5px 2px 2px; */
}

.articles {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(221, 220, 220);
  box-shadow: 3px 5px 2px 2px;
  border-radius: 5px;
  height: 100%;
  
}

.articles img {
  width: 100%;
  height: 100%;
}

/* css for the topic options */
.topic {
  position: fixed;
  top: calc((50vh - 50%) * -1);
  transform: translate(0, calc(50vh - 50%));
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: fixed;
  width: 10rem;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ece9e9 !important;
}

.topic-options {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.topic-options a {
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.topic-options a:hover {
  background-color: rgb(70, 68, 68);
  transition: all 0.2s ease-in-out;
}
.close {
  position: absolute;
  right: 5px;
  top: 10px;
  transition: all 0.5s ease-in-out;
}

.topic-box {
  /* display: none; */
  opacity: 0;
  background-color: rgb(214, 213, 213);
  transition: all 0.5s ease-in-out;
  padding: 1rem 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 5px 5px rgb(56, 55, 55);
}
.topics-show {
  transition: all 0.5s ease-in-out;
}

.rotate {
  transform: rotate(-90deg);
  margin-left: -22px;
  display: flex;
  align-self: flex-start;
  background-color: rgb(43, 42, 42);
  color: #ece9e9;
  border-radius: 0 0 5px 5px;
  padding: 0 0.5rem;
  font-size: larger;
}

.show {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.dont-show {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* about section */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin-top: 5rem;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  background-color: #bbb;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* footer */

footer {
  margin-top: 5rem;
  text-align: center;
}
